name: Build and Push Docker Images

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      # 1. Bajar código
      - name: Checkout code
        uses: actions/checkout@v3

      # 2. Login Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # 3. Construir y Subir FRONTEND
      - name: Build and push Frontend
        uses: docker/build-push-action@v4
        with:
          context: .
          file: Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/hola-mundo-aws:latest

      # 4. Construir y Subir BACKEND
      - name: Build and push Backend
        uses: docker/build-push-action@v4
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/hola-mundo-backend:latest

      # --- AQUÍ ESTÁ LA SOLUCIÓN AL ERROR 127 ---
      # 5. Instalar Terraform en la máquina virtual
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_wrapper: false

      # 6. Despliegue con Terraform Multi-Cuenta
      - name: Terraform Init and Apply
        env:
          # Credenciales Cuenta 1
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_SESSION_TOKEN: ${{ secrets.AWS_SESSION_TOKEN }}
          AWS_REGION: 'us-east-1'
          
          # Credenciales Cuenta 2
          TF_VAR_aws_access_key_2: ${{ secrets.AWS_ACCESS_KEY_ID_2 }}
          TF_VAR_aws_secret_key_2: ${{ secrets.AWS_SECRET_ACCESS_KEY_2 }}
          TF_VAR_aws_session_token_2: ${{ secrets.AWS_SESSION_TOKEN_2 }}
        run: |
          terraform init
          terraform apply -auto-approve